* {
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
    cursor: pointer;
}

.navigation {
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 45px 120px 50px 120px;

    &__menu {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap : 57px ;
        
        &__item {
            color: black;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            
            
            &__active {
                position: relative;

                &::after {
                    content: "";
                    width: 100%;
                    background-color: black;
                    height: 0.5px;
                    position: absolute;
                    top: 30px;
                    right: 0;    
                }
            }
            
        }
    }
}

.hook__banner {
    height: 223px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &__image {
        height: 223px;
        width: calc(100% - 230px);
        object-fit: cover;
        border-radius: 25px;
        filter: brightness(0.4);
    }

    &__text {
        color: white;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.footer {
    height: 209px ;
    width: 100% ;
    background-color: black;
    margin-top: 50px;

    &__image { 
        &__K {
            width: 31px;
            height: 36px;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        &__M {
            width: 26px;
            height: 30px;
            position: absolute;
            left: 35px;
            bottom: 0;
        }

        &__S {
            width: 22px;
            height: 27px;
            position: absolute;
            left: 68.91px;
            bottom: 3.11px;
        }

        &__A {
            width: 23px;
            height: 27px;
            position: absolute;
            left: 98.28px;
            bottom: 3.12px;
        }

        &__block {
            display: flex;
            flex-direction: row;
            position: relative;
            width: 122px;
            height: 39.4px;
            margin-bottom: 28px;
        }

        &__text {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-top: 66px;
            padding-bottom:  29px;
        }
    }

    &__text {
        color: white;
    }
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__404 {
        font-size: 288px;
        color: #FF6060;
        font-style: normal;
        font-weight: 700;   
        margin-bottom: 139px;
    }

    &__text {
        color: #FF6060;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        margin-bottom: 139px;
    }

    &__redirect {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        text-decoration-line: underline;
        color: #000;
    }
}


.gallery {
    width: calc(100% - 230px);
    height: 100%;
    border-radius: 25px;
    background: #F6F6F6;
    margin-top: 43px;
    padding-bottom: 50px;

    &__box {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.red__box {
    height: 340px;
    border-radius: 10px;
    width: calc(90% / 3 - 25px);
    position: relative;
    
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(10, 10, 10, 0.00) 42%, rgba(4, 4, 4, 0.20) 99.99%, rgba(0, 0, 0, 0.50) 100%);        ;
    }

    &__name {
        position: absolute;
        bottom: 20px;
        left: 20px;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        color: #FFFFFF;
    }

    &__div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 50px; 
        padding-top: 56px;
    }
}

.hook__about{
    &__banner {
        height: 223px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 50px;
    }

    &__image {
        height: 223px;
        width: calc(100% - 230px);
        object-fit: cover;
        border-radius: 25px;
        filter: brightness(0.7);
    }
}
/////////////////////////////////////////////////////////
.caroussel {
    width: calc(100% - 230px);
    height: 415px;
    position: relative;
    display: flex;
    align-items: center;

    &__box {
        display: flex;
        justify-content: center;
    }

    &__image {
        width: 100%;
        height: 100%;
        border-radius: 25px;
        object-fit: cover;
        position: relative;

        &__number {
            position: absolute;
            bottom: 10px;
            left: 50%;
            color: white;
        }
    }

    &__arrow {
        &__left {
            width: 50px;
            position: absolute;
            z-index: 999;
            left: 30px;
            cursor: pointer;
        }

        &__right {
            width: 50px;
            position: absolute;
            z-index: 999;
            right: 30px;
            cursor: pointer;
        }
    }
}

.house {
    position: relative;

    &__info {
        &__title {
            color: #FF6060;
            font-size: 36px;
            font-style: normal;
            font-weight: 500;
            margin-left: 115px;  
        } 

        &__location {
            margin-left: 115px;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            margin-top: -30px;
        }
    }

    &__host {
        position: absolute;
        right: 115px;
        top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;

        &__name {
            color: #FF6060;
            width: 93px;
            font-size: 18px;
        }

        &__picture {
            width: 64px;
            height: 64px;
            border-radius: 360%;
        }
    }

    &__tags {
        margin-left: 115px;

        &__tag {
            border: none;
            background-color: #FF6060;
            border-radius: 10px;
            margin-right: 20px;
            color: white;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            text-align: center;
            padding: 7px 40px 7px 40px;
        }
    }

    &__ratings {
        position: absolute;
        right: 115px;
        margin-top: -20px;

        &__star {
            margin-right: 10px;
        }
    }

    &__description, &__equipments {
        width: calc(100% / 2);
    }

    &__description__equipments {
        display: flex;
        flex-direction: row;
        width: calc(100% - 230px);
        margin-top: 40px;
        margin-left: 115px;
        gap: 76px;

        &__title {
            width: 100%;
            height: 52px;
            border: none;
            border-radius: 10px;
            background-color: #FF6060;
            color: white;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 10px;
            cursor: pointer;
            position: relative;
        }

        &__box {
            background-color: rgba(246, 246, 246, 0.45);
            padding: 20px 20px;
            border-radius: 0px 0px 10px 10px;
        }

        &__text {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
        }
    }
}

.about__collapse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 430px);
    margin-left: 215px;
    margin-bottom: 30px;

    &__title {
        width: 100%;
        height: 52px;
        border: none;
        border-radius: 10px;
        background-color: #FF6060;
        color: white;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 10px;
        cursor: pointer;
        position: relative;
    }

    &__box {
        background-color: #F6F6F673;
        border-radius: 10px;
        padding: 0px 28px 0px 20px;
    }

    &__text {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
    }
}

.arrow__collapse {
    transition: transform 0.5s;
    position: absolute;
    right: 20px;

    &__up {
       transform: rotate(180deg);  
    }
}

@media screen and (max-width: 1024px) {
    .navigation {
        margin: 20px 50px 27px 50px;
    }

    .hook__banner {
    
        &__image {
            width: calc(100% - 100px);
        }
    
        &__text {
            font-size: 36px;
        }
    }

    .gallery {
        width: calc(100% - 100px);
    }

    .red__box {
        height: 240px;
    
        &__name {
            font-size: 14px;
        }
    }

    .caroussel {
        width: calc(100% - 100px);
    
        &__arrow {
            &__left {
                width: 30px;
            }
    
            &__right {
                width: 30px;
            }
        }
    }
    
    .house {
        position: relative;
    
        &__info {
            &__title {
                font-size: 30px;
                margin-left: 60px; 
            } 
    
            &__location {
                margin-left: 60px;
                font-size: 14px;
                margin-top: -20px;
            }
        }
    
        &__host {
            right: 60px;
    
            &__name {
                color: #FF6060;
                font-size: 14px;
            }
    
            &__picture {
                width: 45px;
                height: 45px;
            }
        }
    
        &__tags {
            margin-left: 60px;
    
            &__tag {
                font-size: 12px;
                padding: 7px 30px 7px 30px;
            }
        }
    
        &__ratings {
            right: 60px;

            &__star {
                width: 18px;
            }
        }

        &__description__equipments {
            width: calc(100% - 100px);
            margin-left: 60px;
    
            &__title {
                height: 45px;
                font-size: 14px;
            }
    
            &__text {
                font-size: 14px; 
            }
        }
    }
    
    .about__collapse {
        width: calc(100% - 230px);
        margin-left: 115px;
    
        &__title {
            height: 45px;
            font-size: 14px;
        }

        &__text {
            font-size: 14px;
        }
    }

    .hook__about{
    
        &__image {
            width: calc(100% - 100px);
        }
    }  
    
    .error {
        width: 100%;
    
        &__404 {
            width: 100%;
            font-size: 100px;
            margin-bottom: 60px;
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        &__text {
            width: 260px;
            font-size: 18px;
            text-align: center;
            margin-bottom: 60px;
        }
    
        &__redirect {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 768px) {
    .navigation {
        margin: 20px 20px 27px 20px;

        &__logo {
            width: 145px;
        }

        &__menu {
            gap: 26px;

            &__item {
                font-size: 14px;

                &__active {
                    &::after {
                        top: 20px;
                    }
                }  
            }

        }
        
    } 

    .hook__banner {
        height: 110px;

        &__image {
            width: calc(100% - 20px);
            height: 111px;
            border-radius: 10px;
        }

        &__text { 
            width: 230px;
            font-size: 24px;
            left: 30px;
            bottom: 35px;
            line-height: 100%;
        }
    }

    .footer {
        height: 209px ;
        width: 100% ;
        background-color: black;
        margin-top: 50px;

        &__text {
            width: 115px;
            text-align: center;
            margin-top: -15px;
            font-size: 14px;
        }
    }

    .gallery {
        width: calc(100% - 20px);
        background-color: white;
        margin-top: -20px;
        padding-bottom: 0;
    }
    
    .red__box {
        height: 340px;
        background-color: #FF6060;
        border-radius: 10px;
        width: 100%;
        position: relative;
    }

    .caroussel {
        width: calc(100% - 40px);
        height: 255px;

        &__image {
            border-radius: 10px;

            &__number {
                display: none;
            }
        }

        &__arrow__left {
            width: 30px;
            left: 5px;
        }

        &__arrow__right {
            width: 30px;
            right: 5px;
        }
    }
    
    .house {
        position: relative;
        width: 100%;

        &__info {
            &__title {
                font-size: 18px;
                margin-left: 20px; 
            } 

            &__location {
                margin-left: 20px;
                font-size: 14px;
                margin-top: -15px;
            }
        }

        &__host {
            right: 20px;
            top: 100px;

            &__name {
                font-size: 12px;
                width: 50px;
                margin-right: 15px;
            }

            &__picture {
                width: 32px;
                height: 32px;
            }
        }

        &__tags {
            margin-left: 20px;

            &__tag {
                margin-right: 10px;
                font-size: 10px;
                padding: 5px 15px 5px 15px;
                border-radius: 5px;
            }
        }

        &__ratings {
            left: 25px;
            top: 135px;

            &__star {
                width: 15px;
                height: 15px;
            }
        }

        &__description, &__equipments {
            width: 100%;
        }

        &__description__equipments {
            width: calc(100% - 40px);
            margin-top: 90px;
            margin-left: 20px;
            gap: 20px;
            display: flex;
            flex-direction: column;

            &__title {
                width: 100%;
                height: 30px;
                font-size: 13px;
            }

            &__text {
                font-size: 13px;
            }
        }
    }

    .error {
        width: 100%;
    
        &__404 {
            width: 100%;
            font-size: 96px;
            margin-bottom: 60px;
            margin-top: 20px;
            display: flex;
        justify-content: center;
        align-items: center;
        }
    
        &__text {
            width: 260px;
            font-size: 18px;
            text-align: center;
            margin-bottom: 60px;
        }
    
        &__redirect {
            font-size: 14px;
        }
    }

    .hook__about {
        &__banner {
            width: calc(100% - 40px);
            height: 111px;
            margin-left: 20px;
            margin-bottom: 30px;
        }
    
        &__image {
            width: 100%;
            height: 100%;
        }
    }

    .about__collapse {
        width: calc(100% - 40px);
        margin-left: 20px;
    
        &__title {
            height: 30px;
            font-size: 13px;
        }
    
        &__box {
            padding: 0px 28px 0px 20px;
        }
    
        &__text {
            font-size: 13px;
        }
    }
}